<div class="container-fluid">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Bairro</th>
          <th scope="col">Cidade</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let restaurante of restaurantes" (click)="ComidasRestaurante(restaurante)">
            <td>{{restaurante.id}}</td>
            <td>{{restaurante.nome}}</td>
            <td>{{restaurante.bairro}}</td>
            <td>{{restaurante.cidade}}</td>
            <td>{{restaurante.estado}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-2"></div>
</div>
